USE [saleCars]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 05/02/2015 22:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[f_ID] [int] IDENTITY(1,1) NOT NULL,
	[f_Username] [varchar](50) NOT NULL,
	[f_Password] [varchar](50) NOT NULL,
	[f_Name] [nvarchar](50) NOT NULL,
	[f_Email] [varchar](50) NOT NULL,
	[f_DOB] [date] NOT NULL,
	[f_Permission] [int] NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[f_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON
INSERT [dbo].[Users] ([f_ID], [f_Username], [f_Password], [f_Name], [f_Email], [f_DOB], [f_Permission]) VALUES (17, N'admin', N'21232F297A57A5A743894A0E4A801FC3', N'admin', N'admin@admin.com', CAST(0x7F390B00 AS Date), 1)
INSERT [dbo].[Users] ([f_ID], [f_Username], [f_Password], [f_Name], [f_Email], [f_DOB], [f_Permission]) VALUES (25, N'minhtri', N'5BBD9309A81809AAB0298D3C105D8FCE', N'nguyeenn minh tris', N'12345@ymail.com', CAST(0x7E390B00 AS Date), 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Table [dbo].[Types]    Script Date: 05/02/2015 22:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Types](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_type] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Types] ON
INSERT [dbo].[Types] ([TypeID], [TypeName]) VALUES (1, N'Hatchback')
INSERT [dbo].[Types] ([TypeID], [TypeName]) VALUES (2, N'Hybric car')
INSERT [dbo].[Types] ([TypeID], [TypeName]) VALUES (3, N'Sport car')
SET IDENTITY_INSERT [dbo].[Types] OFF
/****** Object:  Table [dbo].[Products]    Script Date: 05/02/2015 22:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProID] [int] IDENTITY(1,1) NOT NULL,
	[ProName] [nvarchar](50) NOT NULL,
	[TinyDes] [ntext] NOT NULL,
	[FullDes] [ntext] NOT NULL,
	[Price] [int] NOT NULL,
	[CatID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[TypeID] [int] NOT NULL,
	[Sales] [int] NOT NULL,
	[DOR] [date] NOT NULL,
	[Views] [int] NOT NULL,
 CONSTRAINT [PK_products_1] PRIMARY KEY CLUSTERED 
(
	[ProID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Products] ON
SET IDENTITY_INSERT [dbo].[Products] OFF
/****** Object:  Table [dbo].[Orders]    Script Date: 05/02/2015 22:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [date] NOT NULL,
	[UserID] [int] NOT NULL,
	[Total] [bigint] NOT NULL,
	[Shipment] [int] NOT NULL,
 CONSTRAINT [PK_orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Orders] ON
INSERT [dbo].[Orders] ([OrderID], [OrderDate], [UserID], [Total], [Shipment]) VALUES (12, CAST(0xE5390B00 AS Date), 17, 201890, 0)
INSERT [dbo].[Orders] ([OrderID], [OrderDate], [UserID], [Total], [Shipment]) VALUES (13, CAST(0xE5390B00 AS Date), 17, 110000, 0)
INSERT [dbo].[Orders] ([OrderID], [OrderDate], [UserID], [Total], [Shipment]) VALUES (14, CAST(0xE5390B00 AS Date), 17, 248000000, 0)
SET IDENTITY_INSERT [dbo].[Orders] OFF
/****** Object:  Table [dbo].[Orderdetails]    Script Date: 05/02/2015 22:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orderdetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [bigint] NOT NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_orderdetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Orderdetails] ON
INSERT [dbo].[Orderdetails] ([ID], [OrderID], [ProID], [Quantity], [Price], [Amount]) VALUES (12, 12, 3, 13, 15530, 201890)
INSERT [dbo].[Orderdetails] ([ID], [OrderID], [ProID], [Quantity], [Price], [Amount]) VALUES (13, 13, 2, 1, 110000, 110000)
INSERT [dbo].[Orderdetails] ([ID], [OrderID], [ProID], [Quantity], [Price], [Amount]) VALUES (14, 14, 18, 1000, 248000, 248000000)
SET IDENTITY_INSERT [dbo].[Orderdetails] OFF
/****** Object:  Table [dbo].[Categories]    Script Date: 05/02/2015 22:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CatID] [int] IDENTITY(1,1) NOT NULL,
	[CatName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_categories] PRIMARY KEY CLUSTERED 
(
	[CatID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON
INSERT [dbo].[Categories] ([CatID], [CatName]) VALUES (1, N'BMW')
INSERT [dbo].[Categories] ([CatID], [CatName]) VALUES (2, N'Mercedes Benz')
INSERT [dbo].[Categories] ([CatID], [CatName]) VALUES (3, N'Ford')
SET IDENTITY_INSERT [dbo].[Categories] OFF
/****** Object:  Default [DF_Orders_Shipment]    Script Date: 05/02/2015 22:17:40 ******/
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Shipment]  DEFAULT ((0)) FOR [Shipment]
GO
