<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="botDetect" requirePermission="false"
             type="BotDetect.Configuration.BotDetectConfigurationSection, BotDetect"/>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />

    <httpHandlers>
      <add verb="GET" path="BotDetectCaptcha.ashx"
           type="BotDetect.Web.CaptchaHandler, BotDetect"/>
    </httpHandlers>
    <sessionState mode="InProc" cookieless="AutoDetect"
                  timeout="20"
                  sessionIDManagerType="BotDetect.Web.CustomSessionIdManager, BotDetect" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="BotDetectCaptchaHandler"/>
      <add name="BotDetectCaptchaHandler"
           preCondition="integratedMode"
           verb="GET" path="BotDetectCaptcha.ashx"
           type="BotDetect.Web.CaptchaHandler, BotDetect"/>
    </handlers>
  </system.webServer>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.sqlConnectionFactory, entityFramework" />
  </entityFramework>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add name="SaleCarsEntities" connectionString="metadata=res://*/SALE.csdl|res://*/SALE.ssdl|res://*/SALE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WINER\SQLSERVER2008;initial catalog=saleCars;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <botDetect>
    <captchaImage>
      <helpLink enabled="false" mode="image"/>
    </captchaImage>
  </botDetect>

</configuration>